MONGO_URI="mongodb://<username>:<password>@<host>:<port>/<database>?replicaSet=<replicaSet>&ssl=true&authSource=admin"

EMAIL_USERNAME="Own Email Address"
EMAIL_PASSWORD="Own Email Password"

JWT_SECRET="Own Jwt Secret Key"

FRONTEND_URL=http://localhost:5173

BACKEND_URL=http://localhost:5000